@import "./styles/index";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Lexend Normal', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.section {
  padding-top: 100px;
}

.admin-page_title {
  @include font($font-size-largeTitle, normal, $onyx-color, 700);
  margin: 20px 40px;
  text-transform: capitalize;
}

@media (max-width: map-get($breakpoints, md)) {
  .admin-page_title {
    text-align: center;
  }
}
