@import "../../styles/index";

.wrapper {
  min-height: calc(100vh - 100px);
  background-color: $porcelain-color;
}

.form {
  @include flex(row, center, center);

  &__input {
    @include font($font-size-medium, normal, $boulder-color, 500);
    height: auto;
    border-radius: 10px 0 0 10px;
    border: 1.5px solid $boulder-color;
    padding: 10px;
    outline: none;

    &::placeholder {
      font-size: $font-size-sm;
    }
  }

  &__btn {
    @include font($font-size-medium, normal, $white-color, 700);
    cursor: pointer;
    padding: 10px 30px;
    text-align: center;
    border: 1.5px solid $boulder-color;
    border-left: none;
    background-color: $golden-color;
    border-radius: 0 10px 10px 0;
  }
}
