@import "../../styles/index";

.table {
  @include admin-table(1000px);
  margin: 0 auto;

  &__head {
    @include admin-table-head(20px 30px, $boulder-color);
  }

  @include admin-table-cell(12px 15px, center);

  &__body {
    .remove_btn {
      @include font($font-size-large, normal, $red-color, 500);
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $dark-red-color;
        transform: scale(1.1);
      }
    }

    .item {
      cursor: pointer;

      &:hover {
        background-color: $gainsboro-color;
      }
    }
  }
}

@media (max-width: map-get($breakpoints, md)) {
  .table {
    max-width: 700px;
    border: 0 !important;

    &__head {
      display: none;
    }

    tr {
      margin-bottom: 10px;
      display: block;
      border: 1px solid $soft-peach-color !important;
    }

    td {
      @include font($font-size-sm, normal, $onyx-color, 500);
      display: block;
      text-align: left;
      border-bottom: 1px dotted $soft-peach-color !important;
    }
  }
}
