$white-color: #fff;
$black-color: #000;
$onyx-color: #121113;
$golden-yellow-color: #fee102;
$golden-color: #ebc405;
$boulder-color: #75767B;
$porcelain-color: #f2f2f2;
$silver-chalice-color: #acabad;
$liver-color: #4c4b4d;
$red-color: #FF0000;

$font-size-large: 20px;
$font-size: 18px;
$font-size-medium: 16px;
$font-size-sm: 14px;
$font-size-smallest: 12px;

$line-height: 24px;
$line-height-sm: 20px;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1920px,
);
